:root {
  /* Primary */
  --strong-cyan: hsl(171, 66%, 44%);
  --light-blue: hsl(233, 100%, 69%);

  /* Neutral */
  --dark-grayish-blue: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Bai Jamjuree", sans-serif;
  text-align: center;
  color: var(--dark-grayish-blue);
}

p {
  color: var(--grayish-blue);
  line-height: 1.5;
}

h2 {
  font-size: 2.8rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
}

.header {
  display: flex;
  justify-content: center;
  padding: 80px 0;
  background-image: url("../images/bg-header-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* MAIN */

.main {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.body {
  max-width: 630px;
  margin: 0 auto;
}

.showcase-section__title {
  font-size: 3.2rem;
  margin-bottom: 2rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4rem 0 15rem;
  gap: 2.5rem;
}

.btn {
  width: 100%;
  max-width: 340px;
  padding: 14px 0;
  font-weight: 600;
  color: #FFFFFF;
  text-decoration: none;
  background-color: var(--strong-cyan);
  border-radius: 50px;
  box-shadow: 0 4px hsl(171, 68%, 35%);
}

.btn:hover {
  background-color: hsl(171deg 52% 58%);
  box-shadow: 0 4px hsl(168deg 40% 53%);
}

.btn--secondary {
  background-color: var(--light-blue);
  box-shadow: 0 4px hsl(233, 51%, 54%);
}

.btn--secondary:hover {
  background-color: hsl(233deg 100% 77%);
  box-shadow: 0 4px hsl(235deg 60% 69%);
}

.keep-track-section__paragraph {
  margin-bottom: 5rem;
}

.keep-track-section__flex {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.keep-track-section__copy {
  margin-bottom: 5rem;
}

.accessibility-section {
  margin: 10rem 0 8.5rem;
}

.accessibility-section__paragraph {
  margin-bottom: 6rem;
}

.tools-section__flex {
  display: flex;
  flex-direction: column;
  margin: 8rem 0 10rem;
}

.tools-section__tool {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tools-section__subtitle {
  margin-top: 3.5rem;
}

.tools-section__copy {
  margin-bottom: 5.5rem;
}

.brands-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7rem;
  margin-bottom: 17rem;
}

.install-section__paragraph {
  margin: 2rem 0;
}

/* FOOTER */

.footer {
  background-color: #f5f6f8;
}

.footer__wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  padding: 7rem 0;
}

.footer__logo {
  width: 55px;
}

.footer-links {
  display: grid;
  grid-template-columns: auto;
}

.footer-links__left,
.footer-links__center,
.footer-links__right {
  display: flex;
  flex-direction: column;
}

.footer-links__link {
  margin-bottom: 2rem;
  text-decoration: none;
  color: var(--dark-grayish-blue);
  font-size: 1.8rem;
}

.footer-links__link:hover {
  color: var(--strong-cyan);
}

.footer__social {
  display: flex;
  align-items: center;
  gap: 3.5rem;
}

.fa-brands {
  font-size: 3rem;
  color: #4c545c;
}
.fa-square-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover {
  color: var(--strong-cyan);
}

@media (min-width: 768px) {
  .header {
    background-image: url("../images/bg-header-desktop.png");
  }

  .buttons {
    flex-direction: row;
  }

  .btn {
    width: max-content;
    padding: 14px 34px;
  }

  .keep-track-section__flex {
    flex-direction: row;
    align-items: center;
    gap: 10rem;
  }

  .keep-track-section__text-left {
    max-width: 350px;
    text-align: left;
  }

  .accessibility-section__img {
    margin: 0 auto;
  }

  .tools-section__flex {
    flex-direction: row;
    gap: 1.5rem;
  }

  .tools-section__tool { 
    max-width: 33%;
  }

  .brands-section {
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
  }

  .footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding: 4rem 0;
    gap: 0;
  }

  .footer-links {
    grid-auto-flow: column;
    gap: 5rem;
    text-align: left;
  }
}
